.pulsing-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(255, 77, 79, 0.4);
    z-index: 0;
}

.pulsing-marker::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 77, 79, 0.3);
    border-radius: 50%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    70% {
        transform: scale(15);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}